<div class="bg-gray-100 min-h-screen">
   <div class="text-center">
      <div class="flex items-center justify-center pt-5">
         <svg fill="none" viewBox="0 0 24 24" class="w-10 h-10 text-blue-500" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
               d="M12 15v2m-6 4h12a2 2 0 002-2v-6a2 2 0 00-2-2H6a2 2 0 00-2 2v6a2 2 0 002 2zm10-10V7a4 4 0 00-8 0v4h8z" />
         </svg>
      </div>
      <h2 class="text-4xl tracking-tight">
         Sign in into your account
      </h2>
      <span class="text-sm">or <a href="/register" class="text-color">
            Register a new account
         </a>
      </span>
   </div>
   
   <div class="flex justify-center my-2 mx-4 md:mx-0 pb-9">
     
      <form method="POST" action="/login" class="w-full max-w-xl bg-white rounded-lg shadow-md p-6">
      
       
         <div class="flex flex-wrap -mx-3 mb-6">
            
            <div class="w-full md:w-full px-3 mb-6">
               <label class="uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for='Password'>Email
                  address</label>
                  
               <input name="email"
                  class="appearance-none block w-full bg-white text-gray-900 font-medium border border-gray-400 rounded-lg py-3 px-3 leading-tight focus:outline-none"
                  type='email' required>
            </div>
            <div class="w-full md:w-full px-3 mb-6">
               <label class="uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                  for='Password'>Password</label>
                  
               <input name="password"
                  class="appearance-none block w-full bg-white text-gray-900 font-medium border border-gray-400 rounded-lg py-3 px-3 leading-tight focus:outline-none"
                  type='password' required>
            </div>
            
            <div class="w-full text-center md:w-full px-3 mb-6">
               <button type="submit"
                  class="appearance-none w-3/5 btn text-gray-100 font-bold border border-gray-200 rounded-full py-3 px-3 leading-tight focus:outline-none">Sign
                  in</button>
            </div>
           
         </div>
      </form>
   </div>
</div>

