<div class="bg-gray-100 min-h-screen home container mx-auto md:px-20 lg:px-50">
    <h1 class="text-center text-4xl py-5">Chat System</h1>
    <div class="message-area">
        <input type="hidden" class="userName" value="<%= user.name %>">
       
    </div>
    <div class="message-send">
        <input name="textarea" id="textarea"
         placeholder="Write a message...">
        </input>
    </div>
</div>